.titulo-page{
	background-color: #eee;
	box-shadow: inset 0px 4px 5px -3px rgba(50,50,50,1.75);
	padding: 20px 0;
	.titulo{
		text-transform: uppercase;
		font-family: "Raleway-semibold";
	}
	.sub-titulo-page{
		font-size: 1rem;
		font-family: "Raleway-semibold";
	}
}
